// 后台的母版页
   Created by michel_feng on 15/10/21.

doctype html
html
    head
        title 小先生管理平台
        script(src='/js/jquery-2.1.4.min.js')
        script(src='/js/main.js')
    body
        block header
        block content
        block footer
        block script