// weixin端的母版页
doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="format-detection" content="telephone=no")
        title 小先生
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/company.css')
        link(rel='stylesheet', href='/stylesheets/teacher.css')
        script(src='/js/jquery-2.1.4.min.js')
        script(src='/js/main.js')
        block style
    body
        block header
            #header
                span#header-back.header
                    block header-back
                        | &nbsp;
                span#header-title.header
                    block header-title
                span#header-save.header
                    block header-save
                        | &nbsp;

        block content

        block footer
            #footer
                #find_job.footer 找兼职
                #personal_center.footer 个人中心

        script.
            $(document).on('click', '#find_job', function () {
                window.location.href = '/weixin/company?openId=#{userIds.openId}';
            });
            $(document).on('click', '#personal_center', function () {
                window.location.href = '/weixin/teacher?openId=#{userIds.openId}';
            });
        block script


