//
   Created by michel_feng on 15/10/21.

extends ../layout
block header-back
    img#dingwei(src='/images/dingwei.png')
    | 北京市
block header-title
    | 找兼职
block content
    #screening
        span 类型
            .dropDown
            .vertical
        span 地区
            .dropDown
            .vertical
        span 时间
            .dropDown
            .vertical
        span 排序
            .dropDown
    #jobs
        .job
    #mask_job


block script
    script.
        $(function() {
            $('#find_job').addClass('current');
        });
        $("#screening span").click(function() {
            $("#mask_job").show();
            $(this).css("color","#56CDB8");
            $(this).find(".dropDown").css("backgroundImage",'url("../images/dd2.png")');
        });
        $("#mask_job").click(function() {
            $(this).hide();
            $("#screening span").css("color","#333");
            $(".dropDown").css("backgroundImage",'url("../images/dd1.png")');
        });
