//
   Created by michel_feng on 15/10/21.

extends ../layout
block header-back
    img#dingwei(src='/images/dingwei.png')
    | 北京市
block header-title
    | 找兼职
block content
    #screening
        span#type 类型
            .dropDown
            .vertical
        span#area 地区
            .dropDown
            .vertical
        span#time 时间
            .dropDown
            .vertical
        span#sort 排序
            .dropDown
    #job_list
        .job
            .job_type 批改
            .job_content
                .job_time 工作日期: 09/14-09/30
                .job_title 招小学作文批改兼职老师招小学作文批改兼职老师招小学作文批改兼职老师
                .job_others 网络 不限性别 月结
                    .job_price 150元/天
    #list
        .list 北京
        .list 北京
        .list 北京
    #mask_job


block script
    script.
        $(function() {
            $('#find_job').addClass('current');
        });
        $("#screening span").click(function() {
            $("#mask_job").show();
            $("#screening span").css("color","#333");
            $(".dropDown").css("backgroundImage",'url("../images/dd1.png")');
            $(this).css("color","#56CDB8");
            $(this).find(".dropDown").css("backgroundImage",'url("../images/dd2.png")');
        });
        $("#mask_job").click(function() {
            $(this).hide();
            $("#list").hide();
            $("#screening span").css("color","#333");
            $(".dropDown").css("backgroundImage",'url("../images/dd1.png")');
        });
        $("#type,#area,#sort").click(function() {
            $("#list").show();
        });
        $("#time").click(function() {
            $("#calendar").show();
        });
        $(document).on("click",".job",function() {
            location.href = "company/profile"
        });
