//
   Created by michel_feng on 15/10/21.

extends ../layout
block style

block header-back
    img#dingwei(src='/images/dingwei.png')
    | 北京市
block header-title
    | 找兼职
block content
    #screening
        span#type
            .text 类型
            .dropDown
            .vertical
        span#area
            .text 地区
            .dropDown
            .vertical
        span#time
            .text 时间
            .dropDown
            .vertical
        span#sort
            .text 排序
            .dropDown
    #job_list
    #list
    #calendar
    #mask_job


block script
    script.
        var checked = false;
        function getJobList() {
            $("#mask_job,#list").hide();
            $("#calendar").hide();
            $("#screening span").removeClass("cur");
            if(sessionStorage.getItem('type')) {
                var type = sessionStorage.getItem('type');
            } else {
                var type = '';
            }
            if(sessionStorage.getItem('area')) {
                var area = sessionStorage.getItem('area');
            } else {
                var area = '';
            }
            if(sessionStorage.getItem('time')) {
                var time = sessionStorage.getItem('time');
            } else {
                var time = '';
            }
            if(sessionStorage.getItem('sort')) {
                var sort = sessionStorage.getItem('sort');
            } else {
                var sort = '';
            }
            var city = sessionStorage.getItem('city');
            $.ajax({
                url:"/weixin/company/jobList",
                type:"get",
                dataType:"json",
                data:{city: city,type : type,area: area,time: time,sort: sort},
                success:function(jobList) {
                    var str = "";
                    if(jobList.length > 0) {
                        for(var i = 0;i < jobList.length;i++) {
                             str += "<div class='job' job-id='" + jobList[i]['id'] + "'><div class='job_type'>"
                             + jobList[i]['typeName'] + "</div><div class='job_content'><div class='job_time'>工作日期："
                             + jobList[i]['start_time'].substring(0,10).replace(/-/g,"/") + "-"
                             + jobList[i]['end_time'].substring(0,10).replace(/-/g,"/")
                             + "</div><div class='job_title'>" + jobList[i]['title'] + "</div><div class='job_others'>"
                             + jobList[i]['address'] + " ";
                             switch (jobList[i]['gender']) {
                                case 0:
                                    str += "男 ";
                                break;
                                case 1:
                                    str += "女 ";
                                break;
                                case 2:
                                    str += "性别不限 ";
                                break;
                                default :
                                    str += "性别不限 ";
                             }
                             str += jobList[i]['settlementName'] + "<div class='job_price'>" + jobList[i]['salary'];
                             str += jobList[i]['salaryName'] + "</div></div></div></div>"
                        }
                    } else {
                        str = "<div class='no-result'>暂无符合条件的兼职</div>";
                    }
                    $("#job_list").html(str);
                }
            });
        }
        $(function() {
            $('#find_job').addClass('current');
            if(sessionStorage.getItem('cityCode')) {
                $("#header-back").html("<img id='dingwei' src='/images/dingwei.png'/>" + sessionStorage.getItem('city'));
                $("#header-back,#header-title,#header-save").css("width","33%");
            } else {
                sessionStorage.setItem('city', "北京市");
                sessionStorage.setItem('cityCode', 110100);
            }
            sessionStorage.setItem('openId','#{userIds.openId}');
            sessionStorage.setItem('teacherId','#{userIds.teacherId}');
            getJobList();
        });
        $("#header-back,#screening span").click(function() {
            $("#list").html('');
            if($(".cur").attr("id") != $(this).attr("id")) {
                checked = false;
                $("#list").hide();
                $("#mask_job").hide();
                $("#calendar").hide();
            }
            if (checked) {
                $("#mask_job").hide();
                $("#list").hide();
                $("#calendar").hide();
                $("#screening span").removeClass("cur");
                checked = false;
            } else {
                var item = $(this).attr("id");
                if(item == "header-back") {
                    location.href = "company/city";
                } else {
                    $("#mask_job").show();
                    $("#screening span").removeClass("cur");
                    $(this).addClass("cur");
                    switch (item) {
                        case "time":

                            break;
                        case "sort":
                            var str = "";
                            str += "<div class='list'>最新发布</div>"
                                + "<div class='list'>高价优先</div>"
                                + "<div class='list'>日结优先</div>"
                                + "<div class='list'>周末优先</div>";
                            $("#list").html(str);
                            $("#list").attr("item",'sort');
                            $("#list").show();
                            break;
                        case "type":
                            $.ajax({
                                url:"/weixin/company/type",
                                type:"get",
                                dataType:"json",
                                success:function(lists) {
                                    var str = "";
                                    for(var i = 0;i < lists.length;i++) {
                                        str += "<div class='list' typeId='" + lists[i]["id"] + "' >" + lists[i]["name"] + "</div>";
                                    }
                                    $("#list").html(str);
                                }
                            });
                            $("#list").attr("item",'type');
                            $("#list").show();
                            break;
                        case "area":
                            var cityCode = sessionStorage.getItem('cityCode');
                            $.ajax({
                                url:"/weixin/company/area",
                                type:"get",
                                dataType:"json",
                                data:"cityCode=" + cityCode,
                                success:function(lists) {
                                    var str = "";
                                    for(var i = 0;i < lists.length;i++) {
                                        str += "<div class='list' areaId='" + lists[i]["id"] + "' >" + lists[i]["area"] + "</div>";
                                    }
                                    $("#list").html(str);
                                }
                            });
                            $("#list").attr("item",'area');
                            $("#list").show();

                            break;
                    }
                }
                checked = true;
            }
        });
        $("#mask_job").click(function() {
            $(this).hide();
            $("#list").hide();
            $("#calendar").hide();
            $("#screening span").removeClass("cur");
            checked = false;
        });
        $(".list").click(function() {
            var city = $("#header-back").html();
            var type = $("#type").html();
            var area = $("#area").html();
            var time = $("#time").html();
            var sort = $("#sort").html();

        });
        $(document).on("click",".job",function() {
            var jobId = $(this).attr("job-id");
            var teacherId = sessionStorage.getItem('teacherId');
            $.ajax({
                url : "company/isSign",
                type: "get",
                dataType : "json",
                data : {jobId:jobId,teacherId:teacherId},
                success : function(sign) {
                    if(sign.length > 0) {
                        window.location.href = "/weixin/company/schedule?jobId=" + jobId + "&signId=" + sign[0].id;
                    } else {
                        location.href = "company/profile?jobId=" + jobId + "&teacherId=" + teacherId;
                    }
                }
            });
        });
        $(document).on("click",".list",function() {
            $(".list").removeClass("cur");
            $(this).addClass("cur");
            switch ($("#list").attr("item")) {
                case 'type':
                    sessionStorage.setItem('type',$(this).attr("typeId"));
                    break;
                case 'area':
                    sessionStorage.setItem('area',$(this).html());
                    break;
                case 'sort':
                    sessionStorage.setItem('sort',$(this).html());
                    break;
            }
            getJobList();
        });
        $(document).on('click', '#personal_center', function () {
            window.location.href = '/weixin/teacher?openId=#{userIds.openId}';
        });