//
   Created by michel_feng on 15/10/21.

extends ../layout
block header-title
    找兼职
block content

block script
    script.
        $(function() {
            $('#find_job').addClass('current')
        })
