//
   Created by GXP on 2015/10/24.

extends ../layout

block header-back
    img#back(src='/images/left-arrow.png')
block header-title
    | &nbsp;
block header-save
    img#collection(src='/images/shoucang.png')
block content


block footer