//
   Created by GXP on 2015/10/24.

extends ../layout

block header-back
    img#back(src='/images/left-arrow.png')
block header-title
    | &nbsp;
block header-save
    img#collection(src='/images/shoucang.png')
block content
    #pro_top
        #pro_type.job_type
            | 批改
        #pro_title
            #pro_h1 招小学作文批改兼职老师
            #pro_h2 工作日期: 09/14-09/30
    #pro_key_point
        .pro_points 网络办公
            .vertical
        .pro_points 工资日结
            .vertical
        #pro_price.pro_points 100元/天
    #pro_content


block footer