/*start 找兼职首页*/

#screening{
    width: 100%;
    max-width: 100%;
}
#screening span{
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #E4E4E4;
}
.dropDown{
    display: inline-block;
    margin: 0 -15px 0 5px;
    width: 10px;
    height: 7px;
    background-image: url("../images/dd1.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 100%;
}
.vertical{
    display: inline-block;
    height: 24px;
    float: right;
    margin: 10px 0;
    background: #E4E4E4;
    width: 1px;
}
#dingwei{
    width: 16px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: -3px;
}
#mask_job{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 0.7;
    display: none;
    z-index: 1;
    top: 95px;
}
.job{
    padding: 10px 10px;
    border-bottom: 1px solid #E4E4E4;
}
.job_type{
    width:60px;
    height: 60px;
    display: inline-block;
    margin: 0 20px 0 13px;
    text-align: center;
    background: #57CBE9;
    border-radius: 5px;
    font-size: 22px;
    line-height: 60px;
    color: #FFFFFF;
    font-weight: bold;
    vertical-align: middle;

}
.job_content{
    display: inline-block;
    vertical-align: middle;
    max-width: 69%;
}
.job_time{
    font-size: 14px;
    color: #333;
    margin: 6px 0;
}
.job_title{
    font-size: 18px;
    color: #333;
    margin: 6px 0;
}
.job_others{
    font-size: 12px;
    color: #A4A4A4;
    margin: 6px 0;
}
.job_price{
    float: right;
    font-size: 16px;
    color: #FF8830;
}
#list{
    position: fixed;
    top: 95px;
    z-index: 2;
    background: #FFFFFF;
    display: none;
    width: 100%;
}
.list{
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
    font-size: 16px;
    color: #333333;
}

/*end 找兼职首页*/

/*start 兼职详情页*/
#pro_top{
    width: 100%;
    min-height: 90px;
    padding-top: 10px;
    background: #56CDB8;
}
#pro_type{
    margin: 0px 23px 0 26px;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
}
#pro_title{
    max-width: 69%;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
}
#pro_h1{
    font-size: 18px;
    margin-bottom: 10px;
}
#pro_h2{
    font-size: 14px;
}
#pro_key_point{
    width: 100%;
}
.pro_points{
    display: inline-block;
    width: 33.3%;
    text-align: center;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #E4E4E4;
    font-size: 14px;
    color: #333333;
}
#pro_price{
    color: #EE8830;
}
#pro_content{
    width: 86%;
    margin: 0 auto;
}
.pro_content_h1{
    border-left: 2px solid #56CDB8;
    color: #56CDB8;
    font-size: 16px;
    padding-left: 6px;
    line-height: 18px;
    margin: 20px 0;
    font-weight: bold;
}
.pro_contents{
    max-width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    line-height: 25px;
    font-size: 14px;
}
.pro_content_h2{
    display: inline-block;
    color: #AAAAAA;
    margin-right: 15px;
}
.pro_content_pro{
    display: inline-block;
    max-width: 100%;
    color: #333333;
}
#registration{
    width: 100%;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background: #56CDB8;
    margin-bottom: 50px;
    font-size: 18px;
}

/*end 兼职详情页*/