/* start common */
.count {
    font-size: 14px;
}

.bottom-line {
    border-bottom: 1px solid #E4E4E4;
}

.line-header {
    background: #F0F0F0;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    color: #919191;
    padding-left: 20px;

}

.vertical-line {
    vertical-align: text-top;
    display: inline-block;
    width: 2px;
    height: 18px;
    background: #919191;
    margin-right: 5px;
}

.one-line {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 44px;
    color: #333333;
}

.no-result {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    color: #333333;
}

.top-add {
    border-bottom: 2px solid #E4E4E4;
    margin-bottom: 15px;
}

.container_add_title {
    vertical-align: middle;
    margin: 0 28px 0 33px;
}

.container_add_title div {
    float: left;
    border-left: 3px solid #56CDB8;
    padding-left: 10px;
}

.container_add_content {
    clear: both;
    border-left: 1px solid #56CDB8;
    padding: 10px 0 20px 10px;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin: 0 27px 0 34px;
}

.container_add_content img {
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.delete {
    width: 20px;
    height: 22px;
    vertical-align: middle;
    margin: 0 auto;
    float: right;
}

.button {
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    background: #56CDB8;
    margin: 50px 34px;
    border-radius: 5px;
    text-align: center;
}

.button img{
    width: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    padding-right: 5px;
}

/* edn common */

/* start 个人中心首页 */
#content-top {
    display: block;
    background: #56CDB8;
    width: 100%;
    height: 160px;
}

#content-img {
    display: block;
    margin: 0 auto;
    border: 2px solid #62aa9d;
    border-radius: 100%;
    width: 91px;
    height: 91px;
    background: #FFFFFF;
    padding: 3px;
}

#content-text {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.content-line {
    padding-left: 26px;
    padding-right: 27px;
}

.line-title, .content-line-title {
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    color: #333333;
}

.line-right, .content-line-right {
    display: inline-block;
    font-size: 16px;
    color: #56CDB8;
    float: right;
    line-height: 60px;
}

.line-right img, .content-line-right img {
    display: inline-block;
    padding-left: 12px;
    vertical-align: middle;
    height: 20px;
}

.line-right, .line-title {
    line-height: 38px;
}

.line-title {
    padding-left: 14px;
}

/* end 个人中心首页 */

/* start 简历页面 */

#first_line {
    display: block;
    padding: 25.5px 25px 25.5px;

}

#first_line img {
    box-sizing: border-box;
    display: inline-block;
    width: 77px;
    height: 77px;
    border-radius: 5px;
    border: 2px solid #DFDFDF;
    vertical-align: middle;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#second_line {
    display: block;
    padding: 0 25px;
}

#second_line span {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.show-text, .input-text {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    color: #AAAAAA;
}

.show-text {
    padding-right: 17px;
    padding-left: 14px;
}

.input-text {
    color: #333333;
}

.small-text {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 80px;
    font-size: 14px;
    color: #333333;
}

.indent {
    padding: 0 20px;
}

.no-border {
    border: none;
    width: 80%;
    line-height: 30px;
}

/* end 简历页面 */

/* start 选择学校页面 */
.search-line {
    display: block;
    padding: 8px 13px;
    background: #E4E4E4;
    height: 28px;
}

#search {
    display: inline-block;
    float: left;
    max-width: 6%;
    padding-right: 10px;
    vertical-align: middle;
}

#college {
    display: inline-block;
    float: left;
    width: 82%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    vertical-align: middle;
}

#clear {
    display: inline-block;
    float: right;
    max-width: 6%;
    padding-left: 7px;
    vertical-align: middle;
}

@media screen and (min-width: 1920px) {
    #clear, #search {
        max-width: 1.5%;
    }

    #college {
        width: 95.5%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1919px) {
    #clear, #search {
        max-width: 2.5%;
    }

    #college {
        width: 92.5%;
    }
}

@media screen and (min-width: 568px) and (max-width: 1000px) {
    #clear, #search {
        max-width: 4%;
    }

    #college {
        width: 88%;
    }
}

@media screen and (min-width: 415px) and (max-width: 567px) {
    #clear, #search {
        max-width: 5%;
    }

    #college {
        width: 84%;
    }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
    #clear, #search {
        max-width: 6%;
    }

    #college {
        width: 82%;
    }
}

@media screen and (max-width: 374px) {
    #clear, #search {
        max-width: 8%;
    }

    #college {
        width: 76%;
    }
}

/* end 选择学校页面 */

/* start 经历填写 */
#btnAdd {
    margin: 20px 27px 20px 34px;
    border-radius: 5px;
    background: #56CDB8;
    box-sizing: content-box;
    text-align: center;
    font-size: 18px;
    line-height: 44px;
    color: #FFFFFF;
}

#btnAdd img {
    display: inline-block;
    width: 22px;
    vertical-align: middle;
    padding-right: 5px;
}

.experience_title {
    display: block;
    font-size: 16px;
    color: #56CDB8;
}

.experience_time {
    display: block;
    font-size: 14px;
    color: #AAAAAA;
}

/* end 经历填写 */
/* start 证书填写 */
.diploma_img {
    border: 1px solid #56CDB8;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* end 证书填写 */

/* start 绑定 */
.bind{
    width: 330px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.bind-line{
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    border-bottom: 1px solid #56CDB8;
    color: #56CDB8;
}
.bind input{
    border: none;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    width: 140px;
    margin-left: 5px;
}
.sms-valid{
    display: inline-block;
    background: #56CDB8;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    width: 90px;
    text-align: center;
    vertical-align: bottom;
}
.pic-valid{
    display: inline-block;
    background: #56CDB8;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    width: 75px;
    margin-left: 8px;
    text-align: center;
    vertical-align: bottom;
}
/* end 绑定 */
