//
   Created by michel_feng on 15/10/24.
extends ./parent.jade
block header-title
    | 修改绑定
block content
    div.bind
        div.bind-line
            span.bind-text 手机号
            input(type="text")
        div
            div.bind-line
                span.bind-text 验证码
                input(type="text")
            span.sms-valid 获取验证码
        div
            div.bind-line
                span.bind-text 图片验证码
                input(type="text", style="width:110px")
            span.pic-valid 1234

        div.button
            img(src="/images/correct.png")
            | 完成修改