//
   Created by michel_feng on 15/10/24.

extends ./parent.jade

block header-title
    | 选择学校
block content
    div.search-line
        img#search(src="/images/search.png")
        input#college(type="text")
        img#clear(src="/images/clear.png")

    div#result

block script
    script.
        $(function () {
            $("#college").keydown(function () {
                        $.ajax({
                            url: "/weixin/teacher/college",
                            data: {college: $("#college").val()},
                            dataType: "json",
                            type: "post",
                            success: function (result) {
                                $("#result").empty();
                                var colleges = result.colleges;
                                for (var i = 0; i < colleges.length; i++) {
                                    $("#result").append("<div class='bottom-line one-line' id='" + colleges[i].id + "'>" + colleges[i].name + "</div>");
                                }

                            }
                        });
                    }
            );

        });