//
   Created by michel_feng on 15/10/27.

extends ./parent
block header-title
    | 添加证书
block content
    div.indent.bottom-line
        span.show-text 证书号码：
        input#number(type='text' value='123456').no-border
    div.indent.bottom-line(onclick="goToPeriod()")
        span
            span.show-text 学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;段：
            span#period.input-text 小学
        span.line-right
            img(src="/images/right-arrow.png" alt=">")
    div.indent.bottom-line(onclick="goToMajor()")
        span
            span.show-text 专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：
            span#major.input-text 数学
        span.line-right
            img(src="/images/right-arrow.png" alt=">")
    div.indent.bottom-line
        span.show-text 拿证时间：
        input#achieveDate(type='text' value='2015年10月27日').no-border
    div.indent
        div.upload_text 上传证件照
        div.upload_pic_div
            img.upload_pic(src="/images/default-blankimg.png")
    #saveCert.button
        img(src="/images/add.png")
        span 保存证书

block script
    script.
        $(function () {

            if (sessionStorage.getItem("period")) {
                $('#period').html(sessionStorage.getItem("period"));
            }

            if (sessionStorage.getItem("certMajor")) {
                $('#major').html(sessionStorage.getItem("certMajor"));
            }

            $('#saveCert').click(function () {
                $.ajax({
                    url: "",
                    data: {},
                    dataType: "json",
                    type: "post",
                    success: function (result) {
                        sessionStorage.removeItem('period');
                        sessionStorage.removeItem('certMajor');
                    }
                });
            });
        });

        function goToPeriod() {
            location.href = location.href + "/period";
        }

        function goToMajor() {
            location.href = location.href + "/major";
        }