//
   Created by michel_feng on 15/10/27.
extends  ./parent.jade

block header-title
    | 选择学段
block content
    each period in subList.length ? subList : ["暂无数据"]
        if period.id
            div.bottom-line.one-line(id="#{period.id}")= period.name
        else
            div.no-result= period

block script
    script.
        $(function () {
            $(".one-line").each(function () {
                $(this).click(function () {
                    sessionStorage.setItem("tCertPeriod", $(this).html());
                    window.location.href = '/weixin/teacher/diploma/teacher/add?openId=#{userIds.openId}';
                });
            });
        });